{{ define "index" }} {{ template "Header" }}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">NAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    {{ range.}}
    <tr>
      <th scope="row">{{.ID}}</th>
      <td>{{.Name}}</td>
      <td>{{.Email}}</td>
      <td>
        <a class="btn btn-danger" role="button" href="/delete?id={{.ID}}"
          >DELETE</a
        >
        <a class="btn btn-primary" role="button" href="/update?id={{.ID}}"
          >UPDATE</a
        >
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "Footer" }} {{ end }}
